<div class="wsmanager-import-page">
    <div class="mb-4">
        <a href="{{backurl}}" class="btn btn-secondary">
            <i class="fa fa-arrow-left mr-2"></i>{{#str}}back, local_wsmanager{{/str}}
        </a>
    </div>

    <div class="alert alert-info">
        <h5><i class="fa fa-info-circle mr-2"></i>{{#str}}import_info_title, local_wsmanager{{/str}}</h5>
        <p>{{#str}}import_info_text, local_wsmanager{{/str}}</p>
        <ul>
            <li>{{#str}}import_info_yaml, local_wsmanager{{/str}}</li>
            <li>{{#str}}import_info_zip, local_wsmanager{{/str}}</li>
        </ul>
        <p>
            <a href="{{docurl}}" class="text-info font-weight-bold">
                <i class="fa fa-book mr-1"></i>{{#str}}view_documentation, local_wsmanager{{/str}}
            </a>
        </p>
    </div>

    <div class="import-form-container">
        {{{formhtml}}}
    </div>
</div>
